body {
    background-color: $c-white;
    font-family: $f-text;
    color: $c-black;
    &.body--alt {
      color: $c-white;
      background: rgb(2,0,36);
      background: linear-gradient(122deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(5,0,38,1) 100%);  
      .c-sidebar {
        background: rgba(0,0,0, 0.8);
      }
      .c-player-bottom {
        background: $c-black;
      }
      .c-user-bar {
        background-color: $c-black;
      }
    }
}

// Genericas
.l-wrap {
    @include clearfix;
    @include container();
    padding-left: 8px;
    padding-right: 8px;
    @include susy-breakpoint($breakpoint-sm, $container-sm) {
        @include container();
        padding-left: 16px;
        padding-right: 16px;
    }
    @include susy-breakpoint($breakpoint-md, $container-md) {
        @include container();
    }
    @include susy-breakpoint($breakpoint-lg, $container-lg) {
        @include container();
    }
    &.l-wrap--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &.l-wrap--flex-middle {
            align-items: center;
        }
        &.l-wrap--flex-start {
            justify-content: flex-start;
        }
        &:after {
            content: none;
        }
    }
}

.l-main-sidebar {
    min-height: 100vh;
    display: flex;
    .c-sidebar {
        width: 230px;
        padding: 25px 8px;
        min-height: 100vh;
        position: fixed;
        left: -230px;
        @include susy-breakpoint($breakpoint-sm, $container-sm) {
            width: 200px;
            left: 0;
        }
    }
    .l-main-content {
        margin-left: auto;
        width: 100%;
        position: relative;
        padding: 50px 0 110px 0;
        @include susy-breakpoint($breakpoint-sm, $container-sm) {
            width: calc(100% - 200px);
            padding: 60px 0 130px 0;
        }
    }
}

.l-user-bar {
    height: 50px;
    display: flex;
    padding: 0 13px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 100;
    background: $c-white;
    align-items: center;
    justify-content: space-between;
    @include susy-breakpoint($breakpoint-sm, $container-sm) {
        left: 200px;
    }
}

.l-sidebar {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    .o-logo {
        margin: 0 auto 50px auto;
    }
}

.l-user-top-block {
    .c-user-top-block__button {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
}

.l-song {
    .c-song__thumb {
        width: 100%;
        height: 240px;
        display: block;
        background-color: #e6e6e6;
    }
    .c-song__thumb {
        margin-bottom: 8px;
    }
    .l-song__descriptions {
        .c-song__name {
            margin-bottom: 7px;
        }
    }
}

.l-masonry-songs {
    margin-right: -20px;
    .l-song {
        width: 23%;
        margin-right: 10px;
        margin-bottom: 0px;
        width: calc(100%/2 - 10px);
        @include susy-breakpoint($breakpoint-sm, $container-sm) {
            width: calc(100%/3 - 20px);
            margin-bottom: 13px;
            margin-right: 20px;
        }
        &:nth-of-type(3n+1) {
            .c-song__thumb {
                height: 240px;
                @include susy-breakpoint($breakpoint-sm, $container-sm) {
                    height: 500px;
                }
            }
        }
        &:nth-of-type(3n+2) {
            .c-song__thumb {
                height: 170px;
                @include susy-breakpoint($breakpoint-sm, $container-sm) {
                    height: 270px;
                }
            }
        }
        &:nth-of-type(3n+3) {
            .c-song__thumb {
                height: 210px;
                @include susy-breakpoint($breakpoint-sm, $container-sm) {
                    height: 240px;
                }
            }
        }
        &:nth-of-type(4n+4) {
            .c-song__thumb {
                height: 190px;
                @include susy-breakpoint($breakpoint-sm, $container-sm) {
                    height: 300px;
                }
            }
        }
        &:nth-of-type(5n+5) {
            .c-song__thumb {
                height: 310px;
                @include susy-breakpoint($breakpoint-sm, $container-sm) {
                    height: 350px;
                }
            }
        }
        &:nth-of-type(6n+6) {
            .c-song__thumb {
                height: 240px;
            }
        }
        .c-song__thumb {
            width: 100%;
        }
    }
}

.l-channel {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    @include susy-breakpoint($breakpoint-sm, $container-sm) {
      margin-bottom: 90px;
    }
    .l-channel__top {
        margin-bottom: 15px;
        .c-channel__name {
          margin-bottom: 5px;
        }
    }
}

.swiper-container {
    width: 100%;
}

.l-song-blocks {
    margin-bottom: -20px;
    @include susy-breakpoint($breakpoint-sm, $container-sm) {
    }
    .l-song {
        margin-bottom: 20px;
        @include susy-breakpoint($breakpoint-sm, $container-sm) {
            
        }
    }
}


.l-content {
    padding: 15px;
    @include susy-breakpoint($breakpoint-sm, $container-sm) {
      padding: 25px;
    }
}
